<%- include('../partials/header.ejs'); %>

    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
         <center>
          <img src="/Assets/images/Stars.png" alt="logo" style="width: 200px; height:200px;">
          <h1><%= title %></h1>
            <h2>Welcome to All Stars Survey</h2>
          </center>
        </div>
      </div>
    </div>

<%- include('../partials/footer.ejs'); %>


